:root {
  --color-text-default: #141414;
  --color-bg-text-menu: #f5f5f5;
  --color-text-light: #525252;
  --color-subtitle-experience: #e0e0e0;
  --color-subtitle-experience-text: #525252;
  --color-bg-experience: var(--color-bg-text-menu);
  --color-write: #fff;
  --color-contra: #a3a3a3;
  --color-dark: #000;
  --color-text-courses: #8f8f8f;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-default);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.a {
  color: #7159c1;
}

.a:hover {
  text-decoration: underline;
}

.subtitle {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
  word-break: break-all;
}

@media (max-width: 800px) {
  .subtitle {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
}
