.header,
.header-menu {
  display: flex;
}

.header {
  padding: 40px 20px;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  gap: 10px;
  flex-wrap: wrap;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  color: var(--color-text-default);
  display: block;
}
