* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
